.list {
    color: #173A5E;
    padding: 0.5rem;
    cursor: pointer;
    &:hover {
        background-color: #f1f1f1;
    }
    .ticker {
        position: absolute;
        color: #a08c58; //#88CA5E;
        right: 0;
        opacity: 0.5;
        padding-right: 0.5rem;
        bottom: 0.1rem;
        font-size: 2.2rem;
        text-shadow: rgb(136 202 94 / 47%) 0px 0px 6px;
    }
    .name {
        font-size: 0.75rem;
        color: #000;
        width: 100%;
        height: 100%;
        padding-left: 0.5rem;
    }
}